<div class="container">
  <h2>League Rules</h2>
  <p>This is a draft document for the rules of the Weston EDH League and will change as stuff is finalised.</p>
  <hr>
  <div class="row">
    <div class="col col-sm-12">
      <markdown>
        ### Structure
        The structure of the league should be kept as simple as possible.

        #### Seasons
          1. Seasons should rotate every few months or so to give people time to accumulate sufficient points and make a good go at reaching higher up the ladder.
          1. At the end of a season, points are tallied and prizes drawn.
          1. A fortnight prior to a season, the rules will be frozen for the next season and format-restriction points locked in.
          1. We will need to test the rules and structure beforehand and I think that we should have a Season 0 for only a few weeks to test that everything runs smoothly.

        #### Games
          1. Players will be able to post each game result as they go.
          1. A player's score in a given fortnight will be the average score of all but their worst-scoring game. This reduces advantage to those that can commit to more games.
          1. Penalty points carry over from each game and will be totalled separately, then added to the weekly score.
          1. League games should be minimum pods of 4 to keep everyone’s experience balanced.

        #### Deck Restriction
          1. There are no restrictions on decks except for the standard Commander banlist and any self-imposed format restrictions for extra points.

        #### Banlist
          1. For the most part, the in-game penalties should take care of anyone running broken cards, so this shouldn’t be necessary, though it should be reviewed each season to avoid a broken meta.

        #### Match Reporting
          1. Probably just get everyone to sign a slip of paper and leave them in a pile at the store. I can produce something a little more high-tech if this gets too tedious.

        #### Ladder
          1. I’ll keep a running total of ladder points as games are reported and post them in the shop each week or online.

        #### Proxies
          1. Proxy cards will not be allowed.

        ---
        ### Scoring
        <a routerLink="/points">Summary of points cards</a>

        #### Triumphs
          1. All present each game
          1. Basic goals for each game. Eliminations, participation and game wins.

        #### Penalties
          1. All present each game
          1. Points are lost for degenerate game-play such as eliminating a player early in the game or looping over an infinite combo too many times.

        #### Achievements
          1. Start game with five and flip a new one from the library as each one is earned
          1. These are for producing certain game states. This makes the game and league more interesting than just flat-out winning games and eliminating players.

        #### Format
          1. Random drawn before each season with time for people to build compatible decks
          1. These award points for restricting decks or game rules (Planechase, etc.). This makes games more interesting and awards players points for creativity to outweigh the advantage lost in-game. It increases the randomness factor of the game, making it more difficult for players taking these format points to make gains from achievements.

        #### Curse
          1. Choose up to one each in turn order each game
          1. Points are given for restricting play-style. Instant point-return is granted but makes it more difficult to gain points through achievements or eliminations.

        ---
        ### Prizes
        At the end of each season, points should be converted to tickets for entry in an RNG draw for basic prizes (nothing that will cause too much competitiveness).
      </markdown>
    </div>
  </div>
</div>
