<header>
  <h1>EDH League</h1>
</header>
<section>
  <h2>League Rules (WIP)</h2>
  <div class="container">
    <div style="border: 1px #444 solid; background: white;">
      <h3>Structure</h3>
      <h4>Seasons</h4>
      <p>Seasons should rotate every few months or so to give people time to accumulate sufficient points and make a good go at reaching higher up the ladder.</p>
      <p>At the end of a season, points are tallied and prizes drawn.</p>
      <p>A fortnight prior to a season, the rules will be frozen for the next season and format-restriction points locked in.</p>
      <p>We will need to test the rules and structure beforehand and I think that we should have a Season 0 for only a few weeks to test that everything runs smoothly.</p>

      <h4>Games</h4>
      <p>Players will be able to post each game result as they go. The highest result for each player in a given week will added to that player’s total score for the season. Penalty points carry over from each game and will be totalled separately, then added to the weekly score.</p>
      <p>League games should be minimum pods of 4 to keep everyone’s experience balanced.</p>

      <h4>Deck Restriction</h4>
      <p>There are no restrictions on decks except for the standard Commander banlist and any self-imposed format restrictions for extra points.</p>

      <h4>Banlist</h4>
      <p>For the most part, the in-game penalties should take care of anyone running broken cards, so this shouldn’t be necessary, though it should be reviewed each season to avoid a broken meta.</p>

      <h4>Match Reporting</h4>
      <p>Probably just get everyone to sign a slip of paper and leave them in a pile at the store. I can produce something a little more high-tech if this gets too tedious.</p>

      <h4>Ladder</h4>
      <p>I’ll keep a running total of ladder points as games are reported and post them in the shop each week or online.</p>

      <h4>Proxies</h4>
      <p>Proxy cards will not be allowed.</p>

      <h3>Scoring</h3>
      <h4>Triumphs</h4>
      <ul>
          <li>All present each game</li>
          <li>Basic goals for each game. Eliminations, participation and game wins.</li>
      </ul>
      <h4>Penalties</h4>
      <ul>
          <li>All present each game</li>
          <li>Points are lost for degenerate game-play such as eliminating a player early in the game or looping over an infinite combo too many times.</li>
      </ul>
      <h4>Achievements</h4>
      <ul>
          <li>Start game with five and flip a new one from the library as each one is earned</li>
          <li>These are for producing certain game states. This makes the game and league more interesting than just flat-out winning games and eliminating players.</li>
      </ul>
      <h4>Format</h4>
      <ul>
          <li>Random drawn before each season with time for people to build compatible decks</li>
          <li>These award points for restricting decks or game rules (Planechase, etc.). This makes games more interesting and awards players points for creativity to outweigh the advantage lost in-game. It increases the randomness factor of the game, making it more difficult for players taking these format points to make gains from achievements.</li>
      </ul>
      <h4>Curse</h4>
      <ul>
          <li>Choose up to one each in turn order each game</li>
          <li>Points are given for restricting play-style. Instant point-return is granted but makes it more difficult to gain points through achievements or eliminations.</li>
      </ul>
      <h3>Prizes</h3>
      <p>At the end of each season, points should be converted to tickets for entry in an RNG draw for basic prizes (nothing that will cause too much competitiveness).</p>
    </div>
  </div>
</section>
